<div class="quotes">
	<div ng-repeat="quote in quotes">
		<div class="panel panel-default">
			<div class="panel-body">
				<blockquote>
					<p>
						{{quote.content}}
					</p>
					<small>
						{{quote.author}}
						<span ng-if="quote.source">
							(via <cite><a href="{{quote.source}}" target="_blank">source</a></cite>)
						</span>
					</small>
				</blockquote>
			</div>
			<div class="panel-footer">
				<h6 data-toggle="collapse" data-target="#quote{{quote.id}}-tags">
					<i class="fa fa-caret-right"></i>
					0 tags
				</h6>
				<div id="quote{{quote.id}}-tags" class="collapse">
					<div class="tags">
						<span class="label label-default">test</span>
						<span class="label label-default">test</span>
						<span class="label label-default">test</span>
						<span class="label label-default">test</span>
						<span class="label label-default">test</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>