<div class="page-header">
	<h2>New quote</h2>
</div>
<div class="create-quote">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form">
				<div class="form-group">
					<label for="create-quotation-content" class="control-label">
						Content
					</label>
					<textarea class="form-control" rows="4" id="create-quotation-content" placeholder="Text"></textarea>
				</div>
				<div class="form-group">
					<label for="create-author-name" class="control-label">
						Author
					</label>
					<input type="text" class="form-control" id="create-author-name" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="create-source-url" class="control-label">
						Source
					</label>
					<input type="text" class="form-control" id="create-source-url" placeholder="URL">
				</div>
				<div class="pull-right">
					<button type="submit" class="btn btn-lg btn-naked">
						<i class="fa fa-check"></i>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>