<div class="page-header">
	<h2>Quotes</h2>
</div>
<div class="quotes">
	<div ng-repeat="quote in quotes">
		<div class="quote panel panel-default">
			<div class="panel-body">
				<blockquote>
					<p>
						{{quote.content}}
					</p>
					<small>
						{{quote.author}}
						<span ng-if="quote.source">
							(via <cite><a href="{{quote.source}}" target="_blank">source</a></cite>)
						</span>
					</small>
				</blockquote>
			</div>
			<div class="panel-footer">
				<div class="collapsible">
					<div class="title clickable" data-toggle="collapse" data-target="#quote{{quote.id}}-tags">
						<!--<i class="fa fa-caret-down clickable"></i>-->
						23 tags
					</div>
					<div class="collapse" id="quote{{quote.id}}-tags">
						<div class="tags clearfix">
							<qt-dep-tag ng-repeat="tag in quote.tags"></qt-dep-tag>
							
							<span class="label tag add-new label-default">
								<span>
									<i class="fa fa-plus clickable"></i>
								</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>