<div class="tags">
	<input name="filter-tags" ng-model="tagFilters" ng-list='/ /' />
	<div ng-if="tagFilters" class="panel panel-default">

	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Tags</div>
		<div class="panel-body">

			<div class="clearfix">
				
				<qt-ind-tag ng-repeat="tag in tags | tagFilter:tagFilters"></qt-ind-tag>

				<!-- edit -->
				<span class="label tag label-default">
					<input type="text" value="Example editing">
					<span>
						<i title="edit" class="fa fa-check clickable"></i>
						<i title="delete" class="fa fa-times clickable"></i>
					</span>
				</span>

				<!-- create (active) -->
				<span class="label tag label-default">
					<input type="text" placeholder="New tag">
					<span>
						<i class="fa fa-check clickable"></i>
						<i class="fa fa-times clickable"></i>
					</span>
				</span>

				<!-- create -->
				<span class="label tag add-new label-default">
					<span>
						<i class="fa fa-plus clickable"></i>
					</span>
				</span>

			</div>
		</div>
	<div>
</div>